@mixin link {
    padding: 15px 79px 16px 79px;
    text-align: center;
    border-radius: 25px;
    background-color: $toyota_red;
    color: $toyota_white;
    font-size: 16px;
}

@mixin underline {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 80px;
        height: 2px;
        top: 52px;
        left: 570px;
        background-color: $toyota_red;
        opacity: 0.5;
    }
}

@mixin arrow {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: 113px;
        width: 8px;
        height: 8px;
        border-top: 2px solid $toyota_red;
        border-right: 2px solid $toyota_red;
        transform: rotate(135deg);
    }
}

@mixin title_L {
    font-family: 'Toyota Display';
    font-size: 32px;
    font-weight: 700;
    color: $toyota_gray;
}

@mixin close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 35px;
    height: 35px;
    opacity: 0.3;
    &:before,
    &:after {
        content: '';
        position: absolute;
        left: 15px;
        top: 10px;
        height: 14.5px;
        width: 2px;
        background-color: $toyota_gray;
    }
    &:before {
        transform: rotate(45deg);
    }
    &:after {
        transform: rotate(-45deg);
    }
}