$toyota_red: #e50000;
$toyota_white: #ffffff;
$toyota_gray: #333333;
$toyota_customer: #5c5c5c;
$toyota_light: #f6f6f6;
$toyota_bg-light: #f0f0f0;
$toyota_footer: #dadada;
$toyota_copyright: #979797;
$toyota_input: #afafaf;
$toyota_form: #ce0000;
$black: #000;