.bg-bank {
    width: 34px; height: 34px;
    background: url('../img/css_sprites.png') -10px -64px;
}
.bg-exchange {
    width: 40px; height: 34px;
    background: url('../img/css_sprites.png') -10px -10px;
}
.bg-garage {
    width: 35px; height: 34px;
    background: url('../img/css_sprites.png') -70px -10px;
}
.bg-gift {
    width: 33px; height: 34px;
    background: url('../img/css_sprites.png') -64px -64px;
}
.bg-man {
    width: 30px; height: 34px;
    background: url('../img/css_sprites.png') -125px -10px;
}
.bg-medal {
    width: 26px; height: 34px;
    background: url('../img/css_sprites.png') -125px -64px;
}
.bg-baloon {
    width: 45px; height: 50px;
    background: url('../img/sprites.png') -10px -80px;
}
.bg-phone {
    width: 50px; height: 50px;
    background: url('../img/sprites.png') -10px -10px;
}
.bg-stopwatch {
    width: 50px; height: 50px;
    background: url('../img/sprites.png') -80px -10px;
}