body{
    font-family: 'Toyota Text', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
    width: 1920px;
    
}
@media (min-width: 1024px){
    body{
        zoom:100%;
    }
}
@media screen and (max-width: 1920px){
    body{
        zoom: 75%;
    }
}
main{
    margin: 0 auto;
    width: 1920px;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.btn{
    outline: none;
    border: none;
}
